@using Microsoft.AspNet.Identity
@using BusinessSystemMVC_Admin_page_.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">
                Messages

                <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
                <i class="fa fa-fw fa-circle"></i>
            </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">New Messages:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <strong>David Miller</strong>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <strong>Jane Smith</strong>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <strong>John Doe</strong>
                <span class="small float-right text-muted">11:21 AM</span>
                <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all messages</a>
        </div>
    </li>
    @*//
        //
        //
        //
        //
        //*@
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">
                Alerts
                <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
                <i class="fa fa-fw fa-circle"></i>
            </span>
        </a>
        @*/////////////*@
        <div class="dropdown-menu" id="appendnews" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
        </div>
        <div class="dropdown-menu" style="border-top:2px double gray"id="oldnews" aria-labelledby="alertsDropdown">
            
        </div>
    </li>
    @*<div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
            <span class="text-success">
                <strong>
                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                </strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
        </a>*@
    @*//////////////////////////*@
    @*<div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
            <span class="text-danger">
                <strong>
                    <i class="fa fa-long-arrow-down fa-fw"></i>Status Update
                </strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
            <span class="text-success">
                <strong>
                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                </strong>
            </span>
            <span class="small float-right text-muted">11:21 AM</span>
            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item small" href="#">View all alerts</a>*@

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li style="margin:auto">
        <span style="color:white" id="spanHelloLink">
            @Html.ActionLink("Hello " + EmployeeDetail.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "color:white;font-size:larger;font-family:NotoSansCJKtc-Bold" })
        </span>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li style="margin:auto;padding-right:5em;font-size:larger">
        <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">
            <i class="fa fa-sign-out"><span style="font-family:'NotoSansCJKtc-Bold'">登出</span></i>
        </a>
    </li>
</ul>

        @*<li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="color:black">
                    <i class="fa fa-fw fa-sign-out"></i>Logout
                </a>
            </li>*@

    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}

@section scripts{
    @*alertsDropdown*@
    @*var Stim = parseInt(String(p[j].StartDateTime).substring(6, 19));
    var Etim = parseInt(String(p[j].EndDateTime).substring(6, 19));*@
    @*<script>
        var LicenseArray = [];
        var Stime ;
        var Dtime ;
        var count = 0;
        var timing;
        function funcTimer() {

            //每隔3秒執行一次timelyFun方法

            window.setInterval("gettimer()", 3000);

        }

        window.onload = funcTimer;

        function gettimer() {
            window.location.reload();
            getVehicleData();
            $("#appendnews").append(
                `<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <span class="text-success">
                            <strong>
                                <i class="fa fa-long-arrow-up fa-fw"></i>公務車預約通知
                            </strong>
                        </span>
                        <span class="small float-right text-muted">${Date.parse(new Date())}</span>
                        <div class="dropdown-message small">您的公務車預約時間為${timestampToTime(Stime)}，請準時取車。</div>
                    </a>`
            )
            //..
        }
        //公務車通知
        function getVehicleData() {
            $.ajax({
                url: '@Url.Action("test1", "CompanyVehicleHistories")',
                type: "GET",
                dataType: "json"
            }).done(function (data) {
                    timing = Date.parse(new Date());
                for (var i = 0; i < data.length; i++) {
                    var License= data[i].LicenseNumber;
                    Stime = parseInt(String(data[i].StartDateTime).substring(6, 19));
                    Dtime = parseInt(String(data[i].StartDateTime).substring(6, 19));
                    if (timing >= (Stime - 86400) && timing < Stime ) {
                        $("#appendnews").append(
                            `<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <span class="text-success">
                            <strong>
                                <i class="fa fa-long-arrow-up fa-fw"></i>公務車預約通知
                            </strong>
                        </span>
                        <span class="small float-right text-muted">${Date.parse(new Date())}</span>
                        <div class="dropdown-message small">您的公務車(${License})預約時間為${timestampToTime(Stime)}，請準時取車。</div>
                    </a>`
                        )
                    }
                }
                
            })
        }

        function timestampToTime(timestamp) {

            var date = new Date(timestamp);//時間戳為10位數需*1000，時間戳為13位數則不需*1000

            var Y = date.getFullYear() + '-';

            var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';

            var D = date.getDate() + ' ';

            var h = date.getHours() + ':';

            var m = date.getMinutes() + ':';

            var s = date.getSeconds();

            return Y + M + D + h + m + s;

        }

    </script>*@




}
