@model EIPBussinessSystem_MVC.Models.BulletinBoard

@{
    ViewBag.Title = "Delete";
}

<h2>刪除預覽</h2>

@*<h3>Are you sure you want to delete this?</h3>*@
<tr>
    <h4>刪除公佈欄貼文</h4>
    <hr />
    <table>
        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.Content)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.PostTime)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.PostTime)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.Department.name)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.Department.name)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.Employee.EmployeeName)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.Group.GroupName)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.Group.GroupName)
            </th>
        </tr>


    </table>
    <br />


    <div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-danger" type="submit" style="color:white"><i class="glyphicon glyphicon-trash" onclick="return confirm('確定要刪除此條貼文嗎?')"> 刪除</i></button>
            <br /><br />
            @Html.ActionLink("回到公佈欄", "Index")
        </div>
    }
    </div>
