@model BusinessSystemMVC_Admin_page_.Models.CommentChild

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>CommentChild</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReplyTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReplyTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CommentMain.CommentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommentMain.CommentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CommentQuestion.Question)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommentQuestion.Question)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Employee.EmployeeName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Num }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
