@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.CommentQuestion>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentContent.CommentContent1)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentContent.CommentContent1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CommentQuestionID }) |
                @Html.ActionLink("Details", "Details", new { id=item.CommentQuestionID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CommentQuestionID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
