@model BusinessSystemMVC_Admin_page_.Models.MeetingRoomHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MeetingRoomHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.start_date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingRoom.meetingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingRoom.meetingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeetingRoomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
