@model BusinessSystemMVC_Admin_page_.Models.OrderDetail

@{ 
    Layout = null;
}

<style>
    dt {
        text-align: center;
        font-family: 'NotoSansCJKtc-Bold';
    }

    dd {
        text-align: center;
        font-family: '微軟正黑體';        
    }
</style>

<div>
    <dl class="dl-horizontal">
        <dt style="font-size:25px">
            @Html.Label("審核狀態")
        </dt>

        @if (Model.RequisitionMain.ApprovaStatus == "審核中")
        {
            <dd style="font-size:25px; font-weight:600; color:orange">
                @Html.DisplayFor(model => model.RequisitionMain.ApprovaStatus)
            </dd>
        }
        else if (Model.RequisitionMain.ApprovaStatus == "審核完成")
        {
            <dd style="font-size:25px; font-weight:600; color:mediumseagreen">
                @Html.DisplayFor(model => model.RequisitionMain.ApprovaStatus)
            </dd>
        }
        else
        {
            <dd style="font-size:25px; font-weight:600; color:red">
                @Html.DisplayFor(model => model.RequisitionMain.ApprovaStatus)
            </dd>
        }

        <dd><hr /></dd>

        <dt>
            @Html.Label("組長簽核人")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.FirstSignerName)
        </dd>

        <dt>
            @Html.Label("組長簽核狀態")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.FirstSignStatus)
        </dd>

        <dt>
            @Html.Label("組長簽核時間")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.FirstSignDate)
        </dd>


        <dd><hr /></dd>

        <dt>
            @Html.Label("部長簽核人")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.SecondSignerName)
        </dd>

        <dt>
            @Html.Label("部長簽核狀態")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.SecondSignStatus)
        </dd>
        <dt>
            @Html.Label("部長簽核時間")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.SecondSignDate)
        </dd>

        <dd><hr /></dd>

        <dt>
            @Html.Label("總經理簽核人")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.ThirdSignerName)
        </dd>

        <dt>
            @Html.Label("總經理簽核狀態")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.ThirdSignStatus)
        </dd>

        <dt>
            @Html.Label("總經理簽核時間")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.ThirdSignDate)
        </dd>

        <dd><hr /></dd>

        <dt>
            @Html.Label("總務組簽核人")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.FourthSignerName)
        </dd>

        <dt>
            @Html.Label("總務組簽核狀態")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.FourthSignStatus)
        </dd>

        <dt>
            @Html.Label("總務組簽核時間")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.Approval.ForthSignDate)
        </dd>
    </dl>
</div>
