@model BusinessSystemMVC_Admin_page_.Models.LeaveHistoryApprovalTemp

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "LeaveHistoryApprovalTemps", FormMethod.Post, new { onsubmit = "return SubmitLeaveForm(this)" }))
{
    @Html.AntiForgeryToken()

    @*@Html.HiddenFor(model => model.employeeID)*@
    @Html.HiddenFor(model => model.ReleaseTime)
    @Html.HiddenFor(model => model.GroupLeader)
    @Html.HiddenFor(model => model.GroupLeaderSignTime)
    @Html.HiddenFor(model => model.DepartmentLeader)
    @Html.HiddenFor(model => model.DepartmentLeaderSignTime)
    @Html.HiddenFor(model => model.GeneralManager)
    @Html.HiddenFor(model => model.GeneralManagerSignTime)
    @Html.HiddenFor(model => model.HREmployee)
    @Html.HiddenFor(model => model.HREmployeeSignTime)
    @Html.HiddenFor(model => model.HRGroupLeader)
    @Html.HiddenFor(model => model.HRGroupLeaderSignTime)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.SignState)
    @Html.HiddenFor(model => model.Reject)

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
        @Html.LabelFor(m => m.leaveID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("leaveID", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.leaveID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Appendix, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Appendix, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Appendix, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
