@model BusinessSystemMVC_Admin_page_.ViewModels.LeaveHistoryApprovalTempViewModel
@{
    Layout = null;
}

@using (Html.BeginForm("Create", "LeaveHistoryApprovalTemps", FormMethod.Post, new { onsubmit = "return SubmitLeaveForm(this)" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("假別")
            <div class="col-md-10">
                @Html.DropDownList("leaveID", null, "-請選擇-", new { @class = "form-control", @style = "width: 120px" })
                @Html.ValidationMessageFor(model => model.leaveID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("起始時間", new { @for = "StartDateFrom" })
            <div class="col-md-10">
                <p>日期與時間</p>
                @Html.TextBoxFor(model => model.StartDate, new { @id = "StartDateFrom", @name = "StartDateFrom" })/
            @Html.DropDownList("StartHour", null, new { @style = "width: 50px" })
                @Html.ValidationMessageFor(model => model.StartHour, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("結束時間", new { @for = "EndDateFrom" })
            <div class="col-md-10">
                <p>日期與時間</p>
                @Html.TextBoxFor(model => model.EndDate, new { @id = "EndDateFrom", @name = "EndDateFrom" })/
                @Html.DropDownList("EndHour", null, new { @style = "width: 50px" })
                @Html.ValidationMessageFor(model => model.EndHour, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("事由")
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { rows = "3", cols = "150", @class = "form-control", @MaxLength = "200", @style = "resize : none" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("附件")
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AppendixFile, new { @class = "form-control", @type = "file", @multiple = "multiple" })
                @*@Html.TextBox("AppendixFiles", null, new { @type = "file", @multiple = "multiple" })*@
                @Html.ValidationMessageFor(model => model.AppendixFile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="float:right">
            <div>
                <input type="reset" value="清除" class="btn btn-warning" style="margin-right:10px" />
                <input type="submit" value="送出申請" class="btn btn-success" style="margin-right:10px" />
            </div>
        </div>
    </div>
}

