@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.LeaveHistoryApprovalTemp>

@{
    ViewBag.Title = "個人請假系統";
}

@section Styles{
    <style>
        button {
            font-family: 'NotoSansCJKtc-Bold';
        }

        h2 {
            font-family: 'NotoSansCJKtc-Bold';
        }
    </style>

    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>

<br /><br />

<button class="btn btn-success" style="margin-bottom:10px" onclick="PopupNewLeaveForm('@Url.Action("","")')"><i class="fa fa-plus" aria-hidden="true"></i> 請假申請</button>
<h3>已送出的請假簽核進度</h3>
<br />
<div style="width:92%">
    <table id="Leavetable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>假別</th>
                <th>申請時間</th>
                <th>起始時間</th>
                <th>結束時間</th>
                <th>簽核進度</th>
                <th>詳細資料/取消申請</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Scripts/moment.js"></script>

    <script>
        var Popup, dataTable; //height="75%" width="75%" src=\"'height="75%"

        //請假進度
        $(document).ready(function () {
            dataTable = $('#Leavetable').DataTable({
                "ajax": {
                    url: '@Url.Action("LeaveLoadData", "LeaveHistoryApprovalTemps")',
                    method: 'GET',
                    dataType: 'json'
                },
                "columnDefs": [
                    { "targets": 0, "data": "","width": "65px" },
                    { "targets": 1, "data": "EmployeeName", "width": "60px" },
                    { "targets": 2, "data": "name", "width": "60px" },
                    { "targets": 3, "data": "Content" },
                    { "targets": 4, "data": "PostTime", "render": function (data) { return moment(data).format("YYYY-MM-DD HH:mm:ss") }, "width": "135px" },
                    {
                        "targets": 5, "data": "Num", "render": function (data) {
                            return "<a class='btn btn-warning btn-sm' onclick=PopupForm('/BulletinBoards/AddOrEdit/" + data + "')><i class='fa fa-pencil'></i> 編輯</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> 刪除</a>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "language": {
                    "emptyTable": "目前無貼文，請點選<b>新增貼文</b>"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: '撰寫公佈欄貼文',
                        height: 400,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {

                            Popup.dialog("close");
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }

                    }
                });
            }
            return false;

        }

        function Delete(id) { //不要真刪，SignState && Reject為true為取消
            if (confirm('確定要刪除此筆貼文嗎?')) {
                $.ajax({
                    type: "POST",
                    url: '/BulletinBoards/Delete/' + id,
                    success: function (data) {
                        if (data.success) {

                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
    </script>
}



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.leaveID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appendix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupLeaderSignTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentLeaderSignTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralManagerSignTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HREmployeeSignTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HRGroupLeaderSignTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee1.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee2.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee3.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee4.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee5.EmployeeName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.leaveID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appendix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupLeaderSignTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentLeaderSignTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeneralManagerSignTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HREmployeeSignTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HRGroupLeaderSignTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee1.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee2.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee3.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee4.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee5.EmployeeName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>*@
