<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div style="padding-right: 15px;padding-left: 15px;  margin-right:  100px;  margin-left: 310px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>
                    <li>@Html.ActionLink("借車紀錄", "Index", "CompanyVehicles")</li>
                </ul>                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    @*側邊功能列表*@
        <div class="col-sm-3 col-md-2 sidebar" style="float:left;width:310px">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
                <li>@Html.ActionLink("BulletinBoard", "Index", "BulletinBoards")</li>
                @*下拉式功能*@                
                    <li class="nav-item">
                        <a class="nav collapsed" href="#" data-toggle="collapse" data-target="#collapseRequisition" aria-expanded="true" aria-controls="collapseRequisition">
                            <i class="glyphicon glyphicon-th-list">   請購系統</i>
                            <span style="text-align: start "></span>
                            <i class="glyphicon glyphicon-chevron-down" style="float:right"></i>
                        </a>
                        <div id="collapseRequisition" class="collapse" aria-labelledby="headingRequisition" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded" style="margin:5px 0px 0px 46px">
                                <div style="margin:11px 0px 11px 0px">
                                    @Html.ActionLink("查詢請購", "Index", "OrderDetails")
                                </div>                      
                                <div style="margin:11px 0px 11px 0px">
                                    @Html.ActionLink("新增請購", "Index", "RequisitionMains")
                                </div>
                            </div>
                    </li>
                
            </ul>
        </div>
        <div class="container body-content" style="width:1500px">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MSIT123第5組專題</p>
            </footer>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
