<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Business System</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#483d8b;color:#ffffff">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span id="s1" class="icon-bar"></span>
                    <span id="s2" class="icon-bar"></span>
                    <span id="s3" class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><img src="@Url.Content("~/Images/B_icon_32.png")" alt="Home" /></a>
                @Html.ActionLink("Business System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", Style = "color:White" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    @*側邊功能列表*@
    <div class="col-sm-3 col-md-2 sidebar" style="float:left;width:310px;font-family:Raleway;">              
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("  公佈欄", "Index", "BulletinBoards", null, new { Style = "color:#483d8b", @class = "glyphicon glyphicon-bullhorn" })</li>
            @*下拉式功能*@
            <li class="nav-item" style="width:310px">
                <a class="nav collapsed" href="#" data-toggle="collapse" data-target="#collapseRequisition" aria-expanded="true" aria-controls="collapseRequisition" style="width:290px">
                    <i class="glyphicon glyphicon-briefcase" style="color:#483d8b">   公務車</i>
                    <span style="text-align: start "></span>
                    <i class="glyphicon glyphicon-chevron-down" style="float:right;color:#483d8b"></i>
                </a>
                <div id="collapseRequisition" class="collapse" aria-labelledby="headingRequisition" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded" style="margin:5px 0px 0px 46px">
                        <div style="margin:11px 0px 11px 0px">
                            @Html.ActionLink("公務車管理", "Index", "CompanyVehicles", null, new { Style = "color:#483d8b" })
                        </div>
                        <div style="margin:11px 0px 11px 0px">
                            @Html.ActionLink("公務車租借", "Index", "CompanyVehicleBorrow", null, new { Style = "color:#483d8b" })
                        </div>
                    </div>
                </div>
            </li>
            <li>@Html.ActionLink("  工時回報", "Index", "ReportTimeSystems", null, new { Style = "color:#483d8b", @class = "glyphicon glyphicon-time" })</li>
            <li>@Html.ActionLink("  檔案管理", "Index", "Files", null, new { Style = "color:#483d8b", @class = "glyphicon glyphicon-file" })</li>
            @*下拉式功能*@
            <li class="nav-item" style="width:310px">
                <a class="nav collapsed" href="#" data-toggle="collapse" data-target="#collapseBusinessCar" aria-expanded="true" aria-controls="collapseBusinessCar" style="width:290px">
                    <i class="glyphicon glyphicon-th-list" style="color:#483d8b">   行政表單</i>
                    <span style="text-align: start "></span>
                    <i class="glyphicon glyphicon-chevron-down" style="float:right;color:#483d8b"></i>
                </a>
                <div id="collapseBusinessCar" class="collapse" aria-labelledby="headingBusinessCar" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded" style="margin:5px 0px 0px 46px">
                        <div style="margin:11px 0px 11px 0px">
                            @Html.ActionLink("請購系統", "Index", "OrderDetails", null, new { Style = "color:#483d8b" })
                        </div>
                    </div>
                </div>
            </li>
            @*只有HR可看見HRsystem*@
            @Html.Partial("_HRSystemPartial")
            @*只有IT可看見HRsystem*@
            @Html.Partial("_ITSystemPartial")
        </ul>
    </div>
    <div class="container body-content" style="width:1500px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MSIT123第5組專題</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
