@model BusinessSystemMVC_Admin_page_.Models.Approval

@{
    /**/

    Layout = null;
}



@using (Html.BeginForm("AddOrEdit", "Approvals", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()

    @*@Html.HiddenFor(model => model.OrderID)*@

    <div class="form-group">
        @Html.LabelFor(model => model.OrderID, new { @class = "control-label" })
        @Html.EditorFor(model => model.OrderID, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.OrderID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstSignerID, new { @class = "control-label" })
        @Html.EditorFor(model => model.FirstSignerID, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FirstSignerID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstSignDate, new { @class = "control-label" })
        @Html.EditorFor(model => model.FirstSignDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FirstSignDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SecondSignerID, new { @class = "control-label" })
        @Html.EditorFor(model => model.SecondSignerID, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SecondSignerID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SecondSignDate, new { @class = "control-label" })
        @Html.EditorFor(model => model.SecondSignDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SecondSignDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThirdSignerID, new { @class = "control-label" })
        @Html.EditorFor(model => model.ThirdSignerID, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ThirdSignerID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThirdSignDate, new { @class = "control-label" })
        @Html.EditorFor(model => model.ThirdSignDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ThirdSignDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FourthSignerID, new { @class = "control-label" })
        @Html.EditorFor(model => model.FourthSignerID, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FourthSignerID)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ForthSignDate, new { @class = "control-label" })
        @Html.EditorFor(model => model.ForthSignDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ForthSignDate)
    </div>


    <div class="form-group" style="float:right">
        <div>
            <input type="reset" value="清除" class="btn btn-warning" style="margin-right:10px" />
            <input type="submit" value="送出" class="btn btn-success" style="margin-right:10px" />

        </div>
    </div>

}