@model BusinessSystemMVC_Admin_page_.Models.Approval

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Approval</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstSignerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSignerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstSignerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSignerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstSignStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSignStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstSignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSignDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondSignerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondSignerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondSignerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondSignerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondSignStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondSignStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondSignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondSignDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdSignerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdSignerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdSignerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdSignerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdSignStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdSignStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdSignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdSignDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthSignerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthSignerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthSignerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthSignerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthSignStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthSignStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForthSignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForthSignDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalProcedure.ApprovalReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalProcedure.ApprovalReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitionMain.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.OrderID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
