@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.Approval>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionMain.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstSignerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstSignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstSignDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondSignerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondSignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondSignDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdSignerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdSignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdSignDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FourthSignerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourthSignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForthSignDate)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionMain.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstSignerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstSignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstSignDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondSignerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondSignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondSignDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdSignerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdSignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdSignDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FourthSignerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FourthSignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForthSignDate)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) 
        </td>
    </tr>
}

</table>
