@using BusinessSystemMVC_Admin_page_.Models
@model LoginViewModel
@{
    Layout = null;
}
<html>
<head>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background: url(@Url.Content("~/imgBG/hump.png")) center center fixed no-repeat;
            background-size: cover;
            opacity:0.5;
        }

        .demo{
            background-color:#a5a5af;
            border-color:transparent; 
            border-radius:19px; 
            line-height:32px;
            width:112px;
            color:white;
            font-family:'微軟正黑體';
            font-size:16px;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>   
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/LoginForm.css")
    <link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
    <title>春沐股份有限公司-登入</title>
</head>
<body>
    <div id="formWrapper">
        <div id="form">
            <div class="logo">
                <a style="font-family: 'Playball'; font-size:60px; text-align:center">Spring Wood</a>
                <br />
                <br />
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-item">
                    <p class="formLabel">UserName</p>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-style", @autocomplete = "off", @id = "UserName" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-item">
                    <p class="formLabel">Password</p>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-style", @id = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div>                   
                    <div class="form-item" style="float:right">
                        <input type="submit" class="login pull-right" value="Log In">
                    </div>
                </div>
            }
        </div>       
        <div style="float:right; border:1px solid gray; margin-right: 160px; margin-top:360px; padding-left:10px;padding-right:10px" >
            <div class="form-item" style="text-align:center">
                <br />
                <div style="margin-bottom:10px">
                    <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('jennifer');$('#Password').val('@("@Aa123")')" id="GM">總經理</button>
                </div>
                <br />
                <div style="margin-bottom:10px">
                    <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('youngshang');$('#Password').val('@("@Aa123")')" id="ASDL">行政部部長</button>
                </div>
                <br />
                <div style="margin-bottom:10px">
                    <button type="button" class="btn btn-info demo" style="margin-right:10px" onclick="$('#UserName').val('maeshin');$('#Password').val('@("@Aa123")')" id="HRGL">人資組組長</button>
                    <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('marylin');$('#Password').val('@("@Aa123")')" id="GAGL">總務組組長</button>
                </div> 
                <br />
                <div >
                    <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('reshin');$('#Password').val('@("@Aa123")')" id="HREP">人資組員工</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Login_jquery.js")
    <script>
        $(document).ready(function () {
            $("#UserName, #Password" ).focus(function () {
                document.getElementsByTagName("body")[0].style.opacity = "0.9";
            })
            $("#UserName, #Password").focusout(function () {
                document.getElementsByTagName("body")[0].style.opacity = "0.5";
            })
            $(" #GM, #ASDL, #HRGL, #GAGL, #HREP").click(function () {
                document.getElementById("UserName").focus();
                document.getElementById("Password").focus();
            })
            $("#GM, #ASDL, #HRGL, #GAGL, #HREP").click(function () {
                document.getElementById("UserName").focus();
                document.getElementById("Password").focus();
            })
        })
    </script>
</body>
</html>