@using BusinessSystemMVC_Admin_page_.Models
@model LoginViewModel
@{
    Layout = null;
}
<html>
<head>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background: url(@Url.Content("~/imgBG/hump.png")) center center fixed no-repeat;
            background-size: cover;
            opacity:0.8;
        }

        .demo{
            background-color:#a5a5af;
            border-color:transparent; 
            border-radius:19px; 
            line-height:32px;
            width:112px;
            color:white;
            font-family:'微軟正黑體';
            font-size:16px;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>   
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/LoginForm.css")
    <link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
    <title>春沐股份有限公司-登入</title>
</head>
<body>
    <div id="formWrapper">
        <div id="form">
            <div class="logo">
                <a style="font-family: 'Playball'; font-size:60px; text-align:center">Spring Wood</a>
                <br />
                <br />
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-item">
                    <p class="formLabel">UserName</p>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-style", @autocomplete = "off", @id = "UserName" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    @*<input type="email" name="email" id="email" class="form-style" autocomplete="off" />*@
                </div>
                <div class="form-item">
                    <p class="formLabel">Password</p>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-style", @id = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*<input type="password" name="password" id="password" class="form-style" />*@
                    @*<div class="pw-view"><i class="fa fa-eye"></i></div>*@
                </div>
                <div>
                    <div class="form-item" style="float:left">
                        <div>
                            <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('jennifer');$('#Password').val('@("@Aa123")')">總經理</button>
                            <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('youngshang');$('#Password').val('@("@Aa123")')">行政部部長</button>
                            <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('maeshin');$('#Password').val('@("@Aa123")')">人資組組長</button>
                            <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('reshin');$('#Password').val('@("@Aa123")')">人資組員工</button>
                            <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('jennifer');$('#Password').val('@("@Aa123")')">總經理</button>
                            <button type="button" class="btn btn-info demo" onclick="$('#UserName').val('jennifer');$('#Password').val('@("@Aa123")')">總經理</button>
                        </div>
                    </div>
                    <div class="form-item" style="float:right">
                        <input type="submit" class="login pull-right" value="Log In">
                        <div class="clear-fix"></div>
                    </div>
                </div>
            }
        </div>
        <button type="button" class="btn btn-warning" id="GM">總經理</button><br />
        <button type="button" class="btn btn-info" id="DepLder">行政部長</button><br />
        <button type="button" class="btn btn-secondary" id="GAGLer">總務組長</button>
        <button type="button" class="btn btn-secondary" id="HRGler">人資組長</button><br />
        <button type="button" class="btn btn-success" id="Emp">員工</button>
        <div>
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Login_jquery.js")
    <script>
        $(document).ready(function () {
            $("#UserName, #Password").focus(function () {
                document.getElementsByTagName("body")[0].style.opacity = "0.9";
            })
            $("#UserName, #Password").focusout(function () {
                document.getElementsByTagName("body")[0].style.opacity = "0.6";
            })
            $("#GM").bind("click", function () {
                $("#UserName").val() = "jennifer";
            })



        })
    </script>
</body>
</html>