@model EIPBussinessSystem_MVC.Models.OrderDetail

@{
    ViewBag.Title = "請購單內容";
}

<h2>內容</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequisitionMain.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitionMain.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitionMain.RequisitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionMain.RequisitionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
