@model IEnumerable<EIPBussinessSystem_MVC.Models.File>

@{
    ViewBag.Title = "檔案管理";
}

<h2>檔案管理</h2>
@using (Html.BeginForm("DownloadChoose", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @Html.ActionLink("檔案上傳", "Upload", "Files", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("全部下載", "DownloadAll", "Files", null, new { @class = "btn btn-primary" })
        <button type="submit" title="下載" class="btn btn-primary">下載 </button>
    </p>
    <table class="table">
        <tr>
            <th>
                <input type="checkbox" name="Cheak" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="Cheak" value="@item.FileID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>
                <td>

                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id=item.FileID})'" type="button"><i class="glyphicon glyphicon-pencil"> 編輯</i></button>
                    |
                    <button class="btn btn-warning" onclick="location.href='@Url.Action("Details", new { id=item.FileID})'" type="button"><i class="glyphicon glyphicon-list"> 內容</i></button>
                    |
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id=item.FileID})'" type="button"><i class="glyphicon glyphicon-trash"> 刪除</i></button>

                </td>
            </tr>
        }

    </table>
}