@model BusinessSystemMVC_Admin_page_.Models.IndexViewModel

@section styles{
<style>
    h2 {
        text-align: left;
        font-family: 'NotoSansCJKtc-Bold';
    }
    dt {
        text-align: left;
        font-family: 'NotoSansCJKtc-Bold';
    }
    dd {
        text-align: left;
        font-family: '微軟正黑體';
    }
</style>
    }

<h2>個人檔案</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />

    <dl class="dl-horizontal" style="float:left ; width:500px ; margin-left:100px">
        <dt>@Html.DisplayNameFor(m => m.Photo)</dt>
        <dd>
            <div>
                <img id="imgPhoto" src="@Url.Content(Model.Photo) " style="height:250px" />
            </div>
            @using (Html.BeginForm("UpdatePhoto", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.TextBoxFor(model => model.Photo, new {  @type = "file", @id="txtPhoto" })*@
                @*@Html.TextBox("txtPhoto", @Html.DisplayFor(m => m.Photo), new { @class = "col-md-2 control-label", @disabled = "disabled" })*@
                @Html.TextBox("PhotoAdress", null, new { @type = "file", @style = "width:200px" })
                @*@Html.TextBox("btnChangePhoto", "變更", new { @type = "button", @class = "btn btn-primary" })*@
                @*@Html.TextBox("btnSavePhoto", "儲存", new { @type = "button", @class = "btn btn-primary" })*@
                <button type="submit" title="執行多檔上傳" class="btn btn-primary" id="savePhoto" style="visibility:hidden">儲存並回首頁</button>
            }
        </dd>
        <dt>@Html.DisplayNameFor(m => m.EmployeeID)</dt>
        <dd>
            @Html.DisplayFor(m => m.EmployeeID, new { @type = "input", @disabled = "disabled" })
        </dd>
        <dt>@Html.DisplayNameFor(m => m.EmpoyeeName)</dt>
        <dd>
            @Html.DisplayFor(m => m.EmpoyeeName)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.Account)</dt>
        <dd>
            @Html.DisplayFor(m => m.Account)
        </dd>
        <dt>密碼</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("變更密碼", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("建立", "SetPassword")
            }
            ]
        </dd>
        <dt>@Html.DisplayNameFor(m => m.Email)</dt>
        <dd>
            @Html.DisplayFor(m => m.Email)
        </dd>
    </dl>
    <dl class="dl-horizontal">        
        <dt>@Html.DisplayNameFor(m => m.Gender)</dt>
        <dd>
            @Html.DisplayFor(m => m.Gender)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.OfficeName)</dt>
        <dd>
            @Html.DisplayFor(m => m.OfficeName)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.DepartmentName)</dt>
        <dd>
            @Html.DisplayFor(m => m.DepartmentName)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.GroupID)</dt>
        <dd>
            @Html.DisplayFor(m => m.GroupID)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.PositionID)</dt>
        <dd>
            @Html.DisplayFor(m => m.PositionID)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.ManagerID)</dt>
        <dd>
            @Html.DisplayFor(m => m.ManagerID)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.Employed)</dt>
        <dd>
            @Html.DisplayFor(m => m.Employed)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.SpecialLeaves)</dt>
        <dd>
            @Html.DisplayFor(m => m.SpecialLeaves)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.PersonalLeaves)</dt>
        <dd>
            @Html.DisplayFor(m => m.PersonalLeaves)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.SickLeaves)</dt>
        <dd>
            @Html.DisplayFor(m => m.SickLeaves)
        </dd>
    </dl>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var savePhoto = document.getElementById("savePhoto");

        $("#PhotoAdress").click(function () {
            //savePhoto.attr("visibility","visible");
                        //savePhoto.remove(visibility);
            savePhoto.style.visibility = "visible";
        })
    </script>
}