@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.MeetingRoom>

@section styles
{
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
}
@{
    ViewBag.Title = "會議室預約";
}

<style>
    button, h2 {
        font-family: 'NotoSansCJKtc-Bold';
    }

    th {
        font-family: 'NotoSansCJKtc-Bold';
    }

    td {
        font-family: '微軟正黑體';
        font-weight: 600;
    }
</style>
<br />

<h2>會議室預約系統</h2>
<br />
<div id="addForm" action="Useradd.action" typeof="post" style="width:1000px;float:left">
    <div style="width:1000px; margin-bottom:30px">
        <div style="float:left">
            <h4 style="font-family:微軟正黑體">起始時間 : </h4>
        </div>
        <div style="float:left;margin-left:30px">
            <a><input type="date" id="date1" class="form-control" style="font-family:微軟正黑體" /></a>
        </div>
        <div style="float:left;margin-left:30px">
            <select id="firstLevel" style="width:100px;font-family:微軟正黑體" class="form-control"></select>
        </div>
        <div style="float:left;margin-left:30px">
            <select id="secondLevel" style="width:100px;font-family:微軟正黑體" class="form-control"></select>
        </div>
    </div>
    <br />
    <br />
    <div style="width:1000px;">
        <div style="float:left">
            <h4 style="font-family:微軟正黑體">結束時間 : </h4>
        </div>
        <div style="float:left;margin-left:30px">
            <a><input type="date" id="date2" class="form-control" style="font-family:微軟正黑體" /></a>
        </div>
        <div style="float:left;margin-left:30px">
            <select id="firstLevel1" style="width:100px;font-family:微軟正黑體" class="form-control"></select>
        </div>
        <div style="float:left;margin-left:30px">
            <select id="secondLevel1" style="width:100px;font-family:微軟正黑體" class="form-control"></select>
        </div>
        <br />
        <div>
            <input style="width:150px" type="button" id="btn1" class="btn-success" value="查詢" />
        </div>
    </div>
</div>
<table id="test2" style="margin-top:200px" class="table">
    <tr>
        <th>會議室ID</th>
        <th>會議室名稱</th>
        <th>辦公室名稱</th>
        <th>容納人數</th>
        <th>會議室地點</th>
    </tr>
</table>


@section scripts
{
    <script>
        //
        //各種變數
        //
        var firL = document.querySelector("#firstLevel")
        var secL = document.querySelector("#secondLevel")
        //
        //
        //
        $(document).ready(function () {
            selecttime();
        })
        $("#firstLevel").change(function () {
            changeLevel();

        })
        $("#firstLevel1").change(function () {
            changeLevel1();
        })
        $("#btn1").click(function () {
            getDate();
        })

        //
        //抓取年月日
        //
        function getDate() {
            var line1 = "-";
            var pik1 = ":";
            //成功取起始時間的年分,月份,日期
            var dt = $("#date1").val();
            var d = new Date(dt);
            var yearObj = d.getFullYear();
            var monthObj = d.getMonth() + 1;
            var dateObj = d.getDate();
            var ht = $("#secondLevel").val();
            //成功取結束時間的年分,月份,日期
            var dt = $("#date2").val();
            var d1 = new Date(dt);
            var yearObj1 = d1.getFullYear();
            var monthObj1 = d1.getMonth() + 1;
            var dateObj1 = d1.getDate();
            var ht1 = $("#secondLevel1").val();
            //
            //需要的時間格式
            //
            var dtS = yearObj + line1 + monthObj + line1 + dateObj + " " + ht + pik1 + 0 + pik1 + 0;
            var dtE = yearObj1 + line1 + monthObj1 + line1 + dateObj1 + " " + ht1 + pik1 + 0 + pik1 + 0;
            //
            //送入資料庫
            //
            //
            //創建變數===================
            //
            var pur;
            var UseLN = [];
            var NoUseLN = [];
            var StimeU = [];
            var EtimeU = [];
            var countarray = [];
            var count = 0;
            //
            //============================
            //
            //
            //取所有車牌========================
            //
            $.ajax({
                url: '@Url.Action("Finded1","MeetingRoomsBorrow")',
                type: "GET",
                dataType: "json",
            }).done(function (u) {
                for (var i = 0, max = u.length; i < max; i++) {
                    UseLN[i] = u[i].meetingID;
                }
                console.log(UseLN);
            })
            //
            //===================================
            //
            //
            //取HisTory的車牌，起始時間，歸還時間
            //
            $.ajax({
                url: '@Url.Action("Finded", "MeetingRoomsBorrow")',
                type: "GET",
                dataType: "json",
            }).done(function (p) {
                for (var j = 0, max = p.length; j < max; j++) {
                    var Stim = parseInt(String(p[j].start_date_time).substring(6, 19));
                    var Etim = parseInt(String(p[j].end_date_time).substring(6, 19));
                    var Stime = timestampToTime(Stim);
                    var Etime = timestampToTime(Etim);
                    NoUseLN[j] = p[j].meetingID;
                    StimeU[j] = Stime;
                    EtimeU[j] = Etime;
                }
                console.log(StimeU)
                console.log(EtimeU)
                console.log(NoUseLN)
                for (var q = 0; q < StimeU.length; q++)
                    if ((dtS >= StimeU[q] && dtE <= EtimeU[q]) ||
                        ((dtS >= StimeU[q] && dtS < EtimeU[q]) && dtE > EtimeU[q]) ||
                        (dtS < StimeU[q] && (dtE > StimeU[q] && dtE<=EtimeU[q])) ||
                        (dtS < StimeU[q] && dtE > EtimeU[q])) {
                        countarray[count] = NoUseLN[q];
                        count++;
                    }
                console.log(countarray);
            })
            $.ajax({
                url: '@Url.Action("Finded1", "MeetingRoomsBorrow")',
                type: "GET",
                dataType: "json",
            }).done(function (r) {
                $("#test2").empty();
                $("#test2").append('<tr></tr>')
                $("#test2").append(`<th>會議室ID</th>`)
                $("#test2").append(`<th>會議室名稱</th>`)
                $("#test2").append(`<th>辦公室名稱</th>`)
                $("#test2").append(`<th>容納人數</th>`)
                $("#test2").append(`<th>會議室地點</th>`)
                for (var o = 0; o < r.length; o++) {
                    console.log(r[o].meetingID)
                    if ($.inArray(r[o].meetingID, countarray) == -1) {
                        $("#test2").append(`<tr>
        <td ">${r[o].meetingID}</td>
        <td>${r[o].meetingName}</td>
        <td>${r[o].officeName}</td>
        <td>${r[o].max_member}</td>
        <td>${r[o].RoomAddress}</td>
        <td><input type="button" id="${ r[o].meetingID}" class = 'btn btn-primary' value="預約會議室"></td>
        </tr>`)
                        $(`#${r[o].meetingID}`).click(function () {
                            console.log($(`#${this.id}t`).val());
                            getLNfunc(this.id, dtS, dtE)
                        })

                    }
                }
                })
            //
            //=============================================
            //
            }


            //
            //找到需要的資料
            //
        function getLNfunc(id, dts, dte) {
            console.log(dts,dte,id)
            //var jsonData = JSON.stringify({ dtS: dts, dtE: dte,LNid:id, purpose:purpose});
            $.ajax({
                url: '@Url.Action("Post1", "MeetingRoomsBorrow")',
                type: "POST",
                //contentType: "application/json; chartset-utf-8",
                data: {
                    dtS: dts,
                    dtE: dte,
                    LNid: id
                },
                dataType:"json"
            }).done(function (data) {

                if (data.success) {
                    

                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })

                }
            })
        }




        @*function getLNfunc1(id) {
                $.ajax({
                    url: '@Url.Action("Finded1", "MeetingRoomsBorrow")',
                    type: "POST",
                    dataType: "json",
                }).done(function (data) {
                    for (var j = 0, max = data.length; j < max; j++) {
                        if (data[j].meetingID == id) {
                            $("#test2").append(`<tr>
        <td>${data[j].LicenseNumber}</td>
        <td>${data[j].brand}</td>
        <td>${data[j].serial}</td>
        <td>${data[j].MaxPassenger}</td>
        <td>${data[j].officeID}</td>
        <td><input type="text" id = "${data[j].LicenseNumber}t" ></td>
        <td><input type="button" id="${ data[j].LicenseNumber}" class = 'btn btn-primary' value="確認申請"></td>
        <td><input type="button" id="${ data[j].LicenseNumber}back" class = 'btn btn-success' value="返回"></td>
        </tr>`)
                                (`#${data[j].LicenseNumber}back`).click(function () {

                                })
                        }
                    }
                })
            }*@
        //
        //紀錄傳回資料庫
        //



        function timestampToTime(timestamp) {

            var date = new Date(timestamp);//時間戳為10位數需*1000，時間戳為13位數則不需*1000

            var Y = date.getFullYear() + '-';

            var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';

            var D = date.getDate() + ' ';

            var h = date.getHours() + ':';

            var m = date.getMinutes() + ':';

            var s = date.getSeconds();

            return Y + M + D + h + m + s;

        }

        //if ((dtS >= p[i].StartDateTime && dtE <= p[i].EndDateTime) || ((dtS >= p[i].StartDateTime && dtS < p[i].EndDateTime) && dtE > p[i].EndDateTime) || (dtS < p[i].StartDateTime && (dtE > p[i].StartDateTime && dtE <= p[i].EndDateTime)) || (dtS < p[i].StartDateTime && dtE > p[i].EndDateTime)) {

        //
        //產生起始時間
        //
        function selecttime() {
            //時段產生
            $("#firstLevel").append('<option value="0">上午</option>')
            $("#firstLevel").append('<option value="1">下午</option>')
            $("#firstLevel1").append('<option value="0">上午</option>')
            $("#firstLevel1").append('<option value="1">下午</option>')
            //時間產生
            for (var i = 8; i <= 12; i++) {
                $("#secondLevel").append(`<option value = "${i}">${i}:00</option>`)
                $("#secondLevel1").append(`<option value = "${i}">${i}:00</option>`)
            }
        }
        //
        //起始時間的firstLevel的Change事件
        //
        function changeLevel() {
            //
            //起始時間change事件===========================================
            //
            if ($("#firstLevel option:selected").text() == "上午") {
                $("#secondLevel").empty();
                for (var i = 8; i <= 12; i++) {
                    $("#secondLevel").append(`<option value = "${i}">${i}:00</option>`)
                }
            }
            else if ($("#firstLevel option:selected").text() == "下午") {
                $("#secondLevel").empty();
                for (var i = 13; i <= 17; i++) {
                    $("#secondLevel").append(`<option value = "${i}">${i}:00</option>`)
                }
            }
            //
            //===============================================================
            //
        }
        //
        //結束時間的firstLevel的Change事件
        //
        function changeLevel1() {
            //
            //結束時間change事件===========================================
            //
            if ($("#firstLevel1 option:selected").text() == "上午") {
                $("#secondLevel1").empty();
                for (var i = 8; i <= 12; i++) {
                    $("#secondLevel1").append(`<option value = "${i}">${i}:00</option>`)
                }
            }
            else if ($("#firstLevel1 option:selected").text() == "下午") {
                $("#secondLevel1").empty();
                for (var i = 13; i <= 17; i++) {
                    $("#secondLevel1").append(`<option value = "${i}">${i}:00</option>`)
                }
            }
            //
            //===============================================================
            //
        }

    </script>






}
