@model BussinessSystem_MVC.Models.CompanyVehicle

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CompanyVehicle</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.LicenseNumber)

        <div class="form-group">
            @Html.LabelFor(model => model.VehicleYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VehicleYear)
                @Html.ValidationMessageFor(model => model.VehicleYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchaseDate)
                @Html.ValidationMessageFor(model => model.PurchaseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brand, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.brand)
                @Html.ValidationMessageFor(model => model.brand)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.serial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.serial)
                @Html.ValidationMessageFor(model => model.serial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxPassenger, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxPassenger)
                @Html.ValidationMessageFor(model => model.MaxPassenger)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.officeID, "officeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("officeID", String.Empty)
                @Html.ValidationMessageFor(model => model.officeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VehiclePhoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VehiclePhoto)
                @Html.ValidationMessageFor(model => model.VehiclePhoto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
