@model EIPBussinessSystem_MVC.Models.OrderDetail

@{
    ViewBag.Title = "請購單刪除";
}

<h2>刪除</h2>

<div>
    <hr />
    <table>
        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.RequisitionMain.EmployeeID)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.RequisitionMain.EmployeeID)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.RequisitionMain.OrderID)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.RequisitionMain.OrderID)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.RequisitionMain.RequisitionDate)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.RequisitionMain.RequisitionDate)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.ProductName)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.UnitPrice)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.Quantity)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.TotalPrice)
            </th>
        </tr>

        <tr>
            <th style="width:200px; text-align:right">
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>&nbsp;&nbsp;&nbsp;</th>
            <th>
                @Html.DisplayFor(model => model.Note)
            </th>
        </tr>
    </table>  

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-danger" type="submit" style="color:white"><i class="glyphicon glyphicon-trash"> 刪除</i></button> |
        @Html.ActionLink("返回請購明細", "Index")
    </div>
    }
</div>
