@model BusinessSystemMVC_Admin_page_.Models.ReportTimeSystem

@{


    Layout = null;

}



@using (Html.BeginForm("AddOrEdit", "ReportTimeSystems", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ReportID)
    @Html.HiddenFor(model => model.employeeID)
    @Html.HiddenFor(model => model.EventHours)
    @Html.HiddenFor(model => model.ApplyDateTime)
    @Html.HiddenFor(model => model.Discontinue)

    <div class="form-group" style="float:left">

        <div class="taglabel">
            @Html.LabelFor(model => model.ReportName, new { @class = "control-label" })

            @Html.TextBoxFor(model => model.ReportName, new { rows = "8", cols = "100", @class = "form-control", @MaxLength = "1000", style = "width:300px" })
            @Html.ValidationMessageFor(model => model.ReportName)
        </div>
        <br />


        <div class="taglabel">
            @Html.LabelFor(model => model.EventID, new { @class = "control-label" })
            @Html.DropDownList("EventID", null, htmlAttributes: new { @class = "form-control", rows = "8", cols = "100", @style = "width:300px" })
            @Html.ValidationMessageFor(model => model.EventID)
        </div>
        <br />



        <div class="taglabel">

            @Html.LabelFor(model => model.StartTime, new { @class = "control-label" })

            <div class="input-group date" id="datepickerstart" data-target-input="nearest" style="width:300px">
                @Html.TextBoxFor(model => model.StartTime,null, new{
                   @class = "form-control datetimepicker-input",
                   @style = "padding-left:0px;text-indent:10px;",
                   data_target = "#datepickerstart",
                   data_toggle = "datetimepicker",

           })
                <div class="input-group-append" data-target="#datepickerstart" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>


            <script type="text/javascript">
                $(function () {
                    $('#datepickerstart').datetimepicker({

                    });

                });
            </script>

        </div>
        @*@Html.TextBoxFor(model => model.StartTime, new { rows = "8", cols = "150", @class = "form-control", @MaxLength = "1000", @id = "datetimepicker2" })
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker2').datetimepicker();
                });
            </script>*@


        @Html.ValidationMessageFor(model => model.StartTime)
        <br />


        <div class="taglabel">
            @Html.LabelFor(model => model.EndTime, new { @class = "control-label" })
            <div class="input-group date" id="datepickerend" data-target-input="nearest" style="width:300px">
                @Html.TextBoxFor(model => model.EndTime,null, new{
                    @class = "form-control datetimepicker-input",
                    @style = "padding-left:0px;text-indent:10px;",
                    data_target = "#datepickerend",
                    data_toggle = "datetimepicker"
            })
                @*<input type="text" class="form-control datetimepicker-input" data-target="#datepickerend" style="padding-left:0px; text-indent:10px;" rows="8" cols="100" data-toggle="datetimepicker" value="@Model.EndTime" />*@
                <div class="input-group-append" data-target="#datepickerend" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>


            <script type="text/javascript">
                $(function () {
                    $('#datepickerend').datetimepicker();

                });

            </script>
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>

        
        <div class="taglabel">
            @Html.LabelFor(model => model.Note, new { @class = "control-label" })
        </div>
        @Html.TextAreaFor(model => model.Note, new { rows = "8", cols = "100", @class = "form-control", @MaxLength = "1000" })
        @Html.ValidationMessageFor(model => model.Note)
        <br />

        


        <br />

    </div>

    <div class="form-group" style="float:right">

        <div>
            <input type="reset" value="清除" class="btn btn-warning" style="margin-right:10px" />
            <input type="submit" value="送出" class="btn btn-success" style="margin-right:10px" id="sent" />

        </div>
    </div>



}