@model IEnumerable<EIPBussinessSystem_MVC.Models.ReportTimeSystem>

@{
    ViewBag.Title = "Index";
}

<h2>工時回報系統</h2>
<style>
    th, td {
        width: 10%;
    }
</style>


<button style="margin-bottom:20px" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "ReportTimeSystems")'">
  <span class="glyphicon glyphicon-plus"></span>
    新建
</button>



    @*@Html.ActionLink("Create New", "Create",new {@type="submit" } )*@

    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventHours)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EventName)
            </th>
            <th>
                
            </th>
            
            <th>

            </th>


        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventHours)
                </td>
                <td style="width:15%;height:150px;word-break:break-all;word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplyDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.EventName)
                </td>
                
                <td style="width:30%">

                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id=item.ReportID})'" type="button"><i class="glyphicon glyphicon-pencil"> 編輯</i></button>
                    |
                    <button class="btn btn-warning" onclick="location.href='@Url.Action("Details", new { id=item.ReportID})'" type="button"><i class="glyphicon glyphicon-list"> 內容</i></button>
                    |
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id=item.ReportID})'" type="button"><i class="glyphicon glyphicon-trash"> 刪除</i></button>

                </td>
            </tr>
        }

    </table>
