@model BusinessSystemMVC_Admin_page_.Models.CommentMain

@{
    //Layout = null;

    var commentContentItems = ViewBag.CommentContentItems as List<GroupedSelectListItem>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>建立意見調查</title>
    <style>

        h2, label, span, optgroup, select,th {
            font-family: 'NotoSansCJKtc-Bold';
        }
        th {
            background-color: #77C9D4;
            color: white;
        }

        td {
            font-family: 'NotoSansCJKtc-Light';
        }

        .multiselect-selected-text {
            color: orange;
        }
    </style>


    
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.CommentMainID)
        @Html.HiddenFor(model => model.EmployeeID)
        @Html.HiddenFor(model => model.SendTime)

        <h2>建立意見調查</h2>
        <br/>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CommentContentID, "意見類型", htmlAttributes: new { @class = "control-label col-md-2 label" })
                        <div @*class="col-md-10"*@>
                            @Html.DropDownGroupList("CommentContent", commentContentItems, "請選擇意見類型", htmlAttributes: new { @class = "label", style = "Width:400px;height:40px" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CommentName, "意見名稱", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div @*class="col-md-10"*@>
                            @Html.EditorFor(model => model.CommentName, new { htmlAttributes = new { @class = "form-control", style = "Width:400px" } })
                            @Html.ValidationMessageFor(model => model.CommentName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Employee.Department, "發送部門", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div @*class="col-md-10"*@>
                            <select id="mul" multiple="multiple" style="display:none;">
                                <option value="multiselect-all">select all</option>
                            </select>
                        </div>
                    </div>
                </div>
</div>



            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.LabelFor(model => model.CommentContent.CommentQuestions, "調查題目", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div @*class="col-md-10"*@>
                            <table class="table table-bordered" id="tableQ" style="width:600px">
                                @*<tr>
                        <th>@Html.CheckBox("CheckAll", false, new { id = "select_all" })</th>*@

                                @*@for (int i = 0; i < Model.additionalCustomerInfoListView.Count; i++)
                        {
                        <tr>
                            <td>@Html.CheckBoxFor(model => model.additionalCustomerInfoListView[i].IsSelected, new { id = "someDivId" })</td>
                        </tr>
                        }*@
                            </table>
                        </div>
                    </div>



                    <div class="form-group">
                        <div @*class="col-md-offset-2 col-md-10"*@>
                            <input type="reset" value="清除" class="btn btn-warning" style="margin-right:10px" />
                            @*<input type="submit" value="送出貼文" class="btn btn-success" style="margin-right:10px" />*@
                            <input type="button" id="test" value="test" class="btn btn-success" style="margin-right:10px" />
                        </div>
                    </div>


                </div>
            </div>
            </div>
            }

            <div>
                @Html.ActionLink("回上一頁", "Index")
            </div>

            <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" type="text/css">

            @section scripts{

            <script src="~/Scripts/bootstrap-multiselect.js"></script>
            <script>


                $(document).ready(function () {

                    $('#mul').multiselect({
                    buttonText: function (options, select) {
                        if (options.length == 0) {
                            return this.nonSelectedText;
                        }
                        else {
                            if (options.length - this.numberDisplayed>0) {
                                return this.nSelectedText + ' ' + (options.length-1) +" 項";
                            }
                            else if (options.length - (this.numberDisplayed+1)==0) {
                                return "已全選(7)";
                            }
                            else {
                                var selected = '';
                                options.each(function () {
                                    var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();

                                    selected += label + ', ';
                                });
                                return selected.substr(0, selected.length - 2) ;
                            }

                        }



                    },

                    nonSelectedText: '- - - - - - - -   請選擇   - - - - - - - -',
                    nSelectedText: '已選擇',
                    selectAllText: ' 全選',
                    includeSelectAllOption: true,
                    buttonWidth: '400px',
                    numberDisplayed: 6
                });


                        $.ajax({
                        url:'@Url.Action("LoadEmployee", "CommentMains")',
                        method: 'GET',
                        dataType: 'json'
                    })
                    .done(function(datas) {

                        for (var i = 0; i < datas.length; i++) {

                            $('#mul').append("<option value='" + datas[i].departmentID + "'>" + datas[i].name+"</option>");

                            $('.multiselect-container').append("<li><a><label class='checkbox'><input type='checkbox' value='" + datas[i].departmentID +"'>  " + datas[i].name +" </label></a></li>");

                        }

                    })




                });


            $("#CommentContent").change(function () {
                ChangeTable();

            });

                function ChangeTable() {
                    $('#tableQ').empty();

                    //存下拉式選單選到的值
                    var s = $('#CommentContent').val();

                    $.ajax({
                        url: '@Url.Action("LoadQuestion", "CommentMains")',
                        method: 'GET',
                        dataType: 'json'
                    })
                        .done(function (datas) {
                            //<th><input type='checkbox' name='HeaderCheckbox' id='HeaderCheckbox'></th>
                            $('#tableQ').append("<tr><th><input type='checkbox' name='HeaderCheckbox' id='HeaderCheckbox'></th><th>提問編號</th><th>題目</th></tr>");
                            for (var j = 0; j < datas.length; j++) {

                                if (datas[j].CommentContentID == s) {

                                $('#tableQ').append("<tr>");
                                $('#tableQ').append("<td><input type='checkbox' class='cq' name='checkbox' value='" + datas[j].CommentQuestionID + "'></td>");
                                $('#tableQ').append("<td>" + datas[j].CommentQuestionID + "</td>");
                                $('#tableQ').append("<td>" + datas[j].Question + "</td>");
                                $('#tableQ').append("</tr>");
                                }

                                $('#HeaderCheckbox').click(function () {
                                    $('input[name="checkbox"]').prop('checked', this.checked)
                                });

                        }
                        })

                    //CheckBoxesEventHandler();


                }

            $('#HeaderCheckbox').click(function () {
                $('input[name="checkbox"]').prop('checked', this.checked) });



                    $('#test').click(function () {

                        var DropccID = $('#CommentContent').val();
                        var oldselected = [];
                        var arr = [];
                        var count = 0;
                        var commentname = $('#CommentName').val();

                        $('#mul :selected').each(function () {
                            oldselected[$(this).val()] = $(this).val();
                        });

                        var selected = oldselected.filter(function (v) { return v !== '' });

                        console.log(DropccID);
                        console.log(oldselected);
                        console.log(selected);

                        $.ajax({
                            url: '@Url.Action("GetDepartmentID", "CommentMains")',
                            method: 'GET',
                            dataType: 'json'

                        }).done(function (datas) {
                            console.log(datas);
                            for (var i = 0; i < datas.length;i++) {
                                if ($.inArray(String(datas[i].DepartmentID), selected) >=0) {
                                    arr[count] = datas[i].employeeID;
                                    count++;
                                }
                            }
                            console.log(arr);
                            console.log(count);
                            console.log(commentname);
                        });

                        

                        $.ajax({
                            url: '@Url.Action("Create", "CommentMains")',
                            type: "POST",
                            traditional: true,
                            cache: false,
                            data: {
                                array: arr,
                                cid: DropccID,
                                cname: commentname
                            },
                            dataType: 'json',
                            
                        }).done(function () {
                            alert("OK")
                        })

                    });










            //$('#HeaderCheckbox').click(function (event) {
            //    if (this.checked) {
            //        // Iterate each checkbox
            //        $(':checkbox').each(function () {
            //            this.checked = true;
            //        });
            //    } else {
            //        $(':checkbox').each(function () {
            //            this.checked = false;
            //        });
            //    }
            //});

            //var CheckBoxesEventHandler = function () {

            //$('#HeaderCheckbox').click(function () {
            //        $('.cq').prop('checked', $('th input: checkbox').is(':checked'));

            //    });

            //$('#HeaderCheckbox').change(function () {
            //        $('.cq').prop('checked', $('.cq:checked').length == $('#HeaderCheckbox').length);

            //});

            //};


            //$('td input:checkbox').prop('checked', $('th input: checkbox').is(':checked'));

            //    });

            //$('th input:checkbox').change(function () {
            //    $('td input:checkbox').prop('checked', $('td input:checkbox:checked').length == $('td input:checkbox').length);

            //});
                </script>

            }
</body>
</html>
