@model BusinessSystemMVC_Admin_page_.Models.CommentMain

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>CommentMain</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CommentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SendTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SendTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ActivitiesMain.ActivityName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ActivitiesMain.ActivityName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CommentContent.CommentContent1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommentContent.CommentContent1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Employee.EmployeeName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CommentMainID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
