@model BusinessSystemMVC_Admin_page_.Models.RequisitionMain

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RequisitionMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequisitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatu.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatu.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportCategory.ReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportCategory.ReportName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
