@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.Approval>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionMain.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstSignerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstSignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondSignerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondSignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdSignerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdSignStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalProcedure.ApprovalReportName)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitionMain.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstSignerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstSignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondSignerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondSignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdSignerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdSignStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalProcedure.ApprovalReportName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
        </td>
    </tr>
}

</table>
