@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.File>

@{
    ViewBag.Title = "檔案管理";
}
@using (Html.BeginForm("", "Files", FormMethod.Post, new { enctype = "multipart/form-data", @name = "form1" }))
{
    <h2>檔案管理</h2>
    <div class="div1">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Upload", "Files")'" type="button"><i class="glyphicon glyphicon-open"> 檔案上傳</i></button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("DownloadAll", "Files")'" type="button"><i class="glyphicon glyphicon-inbox"> 全部下載</i></button>
        <button type="button" title="下載" class="btn btn-primary" id="DownloadChoose"><i class="glyphicon glyphicon-save">下載</i></button>
        <h4 style="width:auto;margin:0px;float:right;margin-right:55px">
            FileName： @Html.TextBox("FileName")
            <button id="Index" class="btn btn-light" type="button" style="background-color:#AAAAAA; color:white"><i class="glyphicon glyphicon-search"> 搜尋</i></button>
        </h4>
    </div>

    <table class="table">
        <tr>
            <th>
                <input type="checkbox" id="CheakAll" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="Cheak" id="Cheak" value="@item.FileID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileID)
                </td>
                <td>
                    @Html.ActionLink(item.FileName, "Download", "Files", new { FileName = item.FileName }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>
                <td>

                    @*<button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id=item.FileID})'" type="button"><i class="glyphicon glyphicon-pencil"> 編輯</i></button>
                        |
                        <button class="btn btn-warning" onclick="location.href='@Url.Action("Details", new { id=item.FileID})'" type="button"><i class="glyphicon glyphicon-list"> 內容</i></button>
                        |*@
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.FileID })'" type="button"><i class="glyphicon glyphicon-trash"> 刪除</i></button>

                </td>
            </tr>
        }
    </table>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#CheakAll").click(function () {
                    if ($("#CheakAll").prop("checked")) {//如果全選按鈕有被選擇的話（被選擇是true）
                        $("input[name='Cheak']").prop("checked", true);//把所有的核取方框的property都變成勾選
                    } else {
                        $("input[name='Cheak']").prop("checked", false);//把所有的核取方框的property都取消勾選
                    }
                })
            });

            $("input[name='Cheak']").on("change", function () {

                //全部都選到了,"全部"這個選項打勾,反之,則取消
                if ($("input[name='Cheak']").length == $("input[name='Cheak']:checked").length) {
                    $("#CheakAll").prop("checked", true);
                }
                else {
                    $("#CheakAll").prop("checked", false);
                }
            });

            $("#DownloadChoose").on("click", function () {
                window.form1.action = 'DownloadChoose';
                window.document.form1.submit();
            });
            $("#Index").on("click", function () {
                window.document.form1.action = 'Index';
                window.document.form1.submit();
            });

        </script>
        <style>
            .div1 {
                width: auto;
                margin-bottom: 20px;
                margin-top: 21px;
            }
        </style>
    }
}
