@model BusinessSystemMVC_Admin_page_.Models.CompanyVehicle
@{
    Layout = null;
}
@using (Html.BeginForm("AddOrEdit2", "CompanyVehicles", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.VehiclePhoto)




    <div>


        @Html.LabelFor(Model => Model.LicenseNumber, "車牌號碼", new { @class = "control-label" })
        @Html.EditorFor(Model => Model.LicenseNumber, new { htmlAttributes = new { @class = "form-control", @Value = "", @MaxLength = "8" } })
        @Html.ValidationMessageFor(model => model.LicenseNumber)

        @Html.LabelFor(Model => Model.VehicleYear, "車輛年份", new { @class = "control-label" })
        @Html.EditorFor(Model => Model.VehicleYear, new { htmlAttributes = new { @class = "form-control", Type = "year", @Value = "", @MaxLength = "4" } })
        @Html.ValidationMessageFor(model => model.VehicleYear)

        @Html.LabelFor(Model => Model.PurchaseDate, "購入時間", new { @class = "control-label" })
        <br />
        @Html.EditorFor(Model => Model.PurchaseDate, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
        @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })

        @Html.LabelFor(Model => Model.brand, "車輛廠牌", new { @class = "control-label" })
        @Html.EditorFor(Model => Model.brand, new { htmlAttributes = new { @class = "form-control", @Value = "" } })
        @Html.ValidationMessageFor(model => model.brand)

        @Html.LabelFor(Model => Model.serial, "車輛型號", new { @class = "control-label" })
        @Html.EditorFor(Model => Model.serial, new { htmlAttributes = new { @class = "form-control", @Value = "" } })
        @Html.ValidationMessageFor(model => model.serial)

        @Html.LabelFor(Model => Model.MaxPassenger, "乘客數", new { @class = "control-label" })
        @Html.EditorFor(Model => Model.MaxPassenger, new { htmlAttributes = new { @class = "form-control", @Value = "", @MaxLength = "10" } })
        @Html.ValidationMessageFor(model => model.MaxPassenger)

        @Html.LabelFor(Model => Model.officeID, "辦公室編號", new { @class = "control-label" })
        @Html.EditorFor(Model => Model.officeID, new { htmlAttributes = new { @class = "form-control", @Value = "" } })
        @Html.ValidationMessageFor(model => model.officeID)

        @*@Html.LabelFor(Model => Model.VehiclePhoto2, "照片", new { @class = "control-label" })
        @Html.DisplayFor(Model => Model.VehiclePhoto2, new { @class = "form-control", Width = "200px", Height = "120px" })
        @Html.ValidationMessageFor(model => model.VehiclePhoto2)*@
    </div>
    
    @Html.TextBox("files", null, new { @type = "file", @multiple = "multiple" })

    <div class="form-group" style="float:right;margin-top:20px">
        <div>
            <input type="reset" value="清除" class="btn btn-warning" style="margin-right:10px" />
            <input type="submit" value="確認修改" class="btn btn-success" style="margin-right:10px" />
        </div>
    </div>
}
