@model IEnumerable<BusinessSystemMVC_Admin_page_.Models.RequisitionMain>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-left:5%">請購系統</h2>
<br />

<div style="width:90%; margin:0 auto;">
    <table id="myTable">
        <thead>
            <tr>
                <th>單據便號</th>
                <th>單據種類編號</th>
                <th>請購人編號</th>
                <th>請購日期</th>
                <th>簽核狀態</th>
            </tr>
        </thead>
    </table>
</div>
<style>
    tr.even {
        background-color: #F5F5F5 !important;
    }
</style>
@* Load datatable css *@
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatable js *@
@section Scripts{

    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("loaddata", "RequisitionMains")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": 0,
                        "data": "OrderID",
                    },
                    {
                        "targets": 1,
                        "data": "ReportID",
                    },
                    {
                        "targets": 2,
                        "data": "EmployeeID",
                    },
                    {
                        "targets": 3,
                        "data": "RequisitionDate",
                        "render": function (data) {return moment(data).format("YYYY-MM-DD HH:mm:ss")}
                        },
                    {
                        "targets": 4,
                        "data": "ApprovalStatusID",
                    }
                ]
            });
        });
    </script> 
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequisitionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatu.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportCategory.ReportName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatu.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportCategory.ReportName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
            </td>
        </tr>
    }

    </table>*@
