@model IEnumerable<EIPBussinessSystem_MVC.Models.ReportTimeSystem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table"> 
    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDateTime)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </th>*@
        <th></th>
    </tr>



@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyDateTime)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Event.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>*@
        
        <td>
           
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id=item.ReportID})'" type="button"><i class="glyphicon glyphicon-pencil"> 編輯</i></button>
            |
            <button class="btn btn-warning" onclick="location.href='@Url.Action("Details", new { id=item.ReportID})'" type="button"><i class="glyphicon glyphicon-list"> 內容</i></button>
            |
            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id=item.ReportID})'" type="button"><i class="glyphicon glyphicon-trash"> 刪除</i></button>

        </td>
    </tr>
}

</table>
